# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual environment
env/
venv/

# Data files
data/
*.csv

# IDE specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment files
.env
.env.local

# MLflow
mlruns/
*.db

# Docker
*.log